.menu_rodape nav a:hover{
    color: darkgoldenrod;
}

.container_conteudo {
    width: auto;
    height: 450px;
    padding: 10px 20px;
    margin-top: -2px;
    background-image: url('corte\ de\ barba.txt');
    background-size: cover;
    background-position: center;
    color: aliceblue;
    text-shadow: 2px 2px 2px rgb(0, 0, 0); 
    margin-bottom: 5px;
    box-shadow: inset 0 0 200px 10px black;
}

.container_conteudo h1{
    font-size: 28px;
    color: darkgoldenrod;
}
.container_conteudo p{
    text-align: justify;
    font-size: 20px;
}

.container_contatos .giticon img{
    margin-left: 0px;
}
.conteudo_main #contatos{
    margin-top: -20px;
}

/* botao whatssap */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: rgb(1, 171, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: background-color 0.3s ease;
}

.whatsapp-button img {
  width: 40px;
  height: 40px;
}

.whatsapp-button:hover {
  background-color: rgb(0, 144, 0);
}
